<!-- Main content -->
<section class="content" ng-controller="ngTableCtrlAdv">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Hover NG Table</h3>                                    
				</div><!-- /.box-header -->
				<div class="box-body table-responsive">
					<button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
					<button ng-click="tableParams.filter({})" class="btn btn-default pull-right">Clear filter</button>
					<p><strong>Sorting:</strong> {{tableParams.sorting()|json}}
					<p><strong>Filter:</strong> {{tableParams.filter()|json}}
					<table id="example2" ng-table="tableParams" show-filter="true" class="table table-bordered table-hover ng-table-responsive">
					   <tr ng-repeat="user in $data">
							<td strip="{{user.status}}" data-title="'Status'">{{user.status}}</td>
							<td data-title="'Name'" sortable="'name'"  filter="{'name':'text'}">
								{{user.name}}
							</td>
							<td data-title="'Age'" sortable="'age'" filter="{'age':'text'}" >
								{{user.age}}
							</td>
						</tr>
					</table>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div>
	</div>

</section><!-- /.content -->
