<div ng-show="isAuthorizedIndex()">
     dsfefdsf    {{hasPermission('business:list') | json}}
    <!-- Left side column. contains the logo and sidebar -->


    <!-- Right side column. Contains the navbar and content of the page -->
    <!-- /.right-side -->
    <!--%{--<sidemenuauth signedin="isAuthorized1()"/>--}%-->
    <script src="js/AdminLTE/app.js" type="text/javascript"></script>
    <script src="js/angular/controllers/mainController.js" type="text/javascript"></script>

    <script src="js/AdminLTE/dashboard.js" type="text/javascript"></script>
</div>