<div ng-controller="addNewUserController as user">
    <div class="row">

        <div class="box box-primary">
            <div class="box-header">
                <h1 class="box-title">Create User</h1>

            </div>
            <div>
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>
            <div class="box-body">
                <form role="form" name="userIn" novalidate>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="username">Username*</label>
                                <input type="text" ng-model="user.username" name="username" ng-model-options="{ debounce: 250 }" class="immediate-help form-control" id="username" username-validate placeholder="Enter username">
                                <div class="input-help">
                                    <h4>Username must meet the following requirements:</h4>
                                    <ul>
                                        <li ng-class="userValidLength">At least <strong>5 characters</strong></li>
                                        <li ng-class="userHasNumber">No <strong>Special Character</strong></li>
                                        <li ng-class="userExist">User <strong>Must be Unique</strong></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputPassword">Password*</label>
                                <input type="password" ng-model="user.password" ng-model-options="{ debounce: 250 }"  class="immediate-help form-control" password-validate required type="password" id="inputPassword" placeholder="Password">
                                <div class="input-help">
                                    <h4>Password must meet the following requirements:</h4>
                                    <ul>
                                        <li ng-class="pwdHasLetter">At least <strong>one letter</strong></li>
                                        <li ng-class="pwdHasNumber">At least <strong>one number</strong></li>
                                        <li ng-class="pwdValidLength">At least <strong>8 characters</strong></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="fullname">Active*</label>
                                <input type="radio" ng-model="user.isActive" value="YES" required="required"> YES
                                <input type="radio" ng-model="user.isActive" value="NO"  required="required">   NO
                                <!--<select class="form-control" >
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="fullname">Full Name</label>
                                <input type="text" class="form-control" ng-model="user.fullName" id="fullname" placeholder="Enter name">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputEmail">Email address</label>
                                <input type="text" class="immediate-help form-control" ng-model-options="{ debounce: 250 }"  email-validate  ng-model="user.email" id="inputEmail" placeholder="Enter email"/>
                                <div class="input-help">
                                    <h4>Email Validation:</h4>
                                    <ul>
                                        <li ng-class="emailValidator">Valid <strong>Email</strong></li>
                                        <li ng-class="emailExist">Email <strong>already Exist</strong></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6" align="center" >
                                <button type="submit" class="btn btn-primary" ng-click="saveUser()">Create</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>



</div>