<!--<%--
  Created by IntelliJ IDEA.
  User: Umar
  Date: 12/12/14
  Time: 12:25 PM
--%>-->

<div class="box-body table-responsive">
    <div loading-container="tableParams.settings().$loading">
        <table ng-table="tableParams" class="table table-condensed table-responsive table-bordered table-striped">

            <tr  ng-repeat="permission in permissionList">

                <td data-title="'Name'" filter="{ 'name': 'text' }">
                    <div strip="permission.checked || 'false'"></div>
                    {{ permission.name | translate }}
                </td>
                <td data-title="'Description'" filter="{ 'descrption': 'text' }">
                    {{permission.description | translate }}
                </td>
                <td ng-show="hasPermission('user:assignAndRevokePermission')">
                    <input  type="checkbox"
                            ng-disabled="permission.disabled"
                            ng-model="permission.checked"
                            ng-click="addOrRevokePermission(permission.id,permission.checked)" />
                </td>

            </tr>

        </table>

    </div>
</div>
