<div class="content">
    <tabset>
        <tab>
            <tab-heading>
                <i class="ion-briefcase"></i> <span  translate="com.ef.cbr.label.current.permissions" translate-values="{name:translateKey('com.ef.cbr.label.role.plural')}"></span>
            </tab-heading>
            current Roles
        </tab>
        <tab >
            <tab-heading>
                <i class="ion ion-ios7-briefcase-outline" ></i> <span translate="com.ef.cbr.label.assignMore.permissions" translate-values="{name:translateKey('com.ef.cbr.label.role.plural')}"></span>
            </tab-heading>
            Not Assigned Roles
        </tab>
    </tabset>
</div>