<!--<%--
  Created by IntelliJ IDEA.
  User: Umar
  Date: 12/12/14
  Time: 12:25 PM
--%>-->

<div class="box-body table-responsive">
    <div loading-container="tableParams.settings().$loading">
        <table ng-table="tableParams"  class="table table-condensed table-responsive table-bordered table-striped">

            <tr  ng-repeat="role in roleList">
                <td data-title="'Name'" filter="{ 'name': 'text' }">
                    <div strip="role.checked || 'false'"></div>
                    <a ng-show="hasPermission('role:show')" ng-click="roleDetail(role.id)">{{ role.name  }}</a>
                   <span ng-show="!hasPermission('role:show')">{{ role.name  }}</span>
                </td>

                <td data-title="'Description'" filter="{ 'descrption': 'text' }">
                    {{role.description  }}
                </td>
                <td ng-show="hasPermission('user:assignAndRevokeRole')">
                    <input type="checkbox"  ng-checked="role.checked"
                           ng-model="role.checked"
                           ng-click="addOrRevokeRole(role.id,role.checked)" />
                </td>

            </tr>

        </table>

    </div>

</div>
