<div>
    <div class="modal-header" ng-init="init();">
        <h3 class="modal-title">Confirm</h3>
    </div>
    <div style="padding:12px;">
       {{message}}
    </div>
    <div style="padding: 10px;min-height: 54px;">
        <div style="float:right;">
            <button class="btn btn-success" ng-click="positive();">
                <span>
                    <i class="glyphicon glyphicon-ok"> </i> {{positive_txt}}
                </span>
            </button>
            <button class="btn btn-warning" ng-click="negative();">
                <span>
                    <i class="glyphicon glyphicon-off"> </i> {{negative_txt}}
                </span>
            </button>
        </div>
    </div>
    <!--//Copyrighted : Ahmad Ali
    //Email : ahmadalibaloch@gmail.com
    //Lisence: MIT Lisence-->
</div>