<div  ng-show="hasPermission('role:index')" class="content" ng-controller="listRoleController">
    <div class="row">
        <div class="col-xs-12">
            <div class="" style="margin-top: -50px">
                <div class="box-header">
                    <h1>
                        <div class="row">
                            <div class="pull-left">
                                <span translate="com.ef.cbr.label.list"  translate-values="{name:translateKey('com.ef.cbr.label.role')}"></span>
                            </div>
                            <div class="pull-right">
                                <button id="tesyt" ng-if="hasPermission('role:delete')" class="btn btn-danger btn-xs"
                                        ng-click="deletedSelected()" ng-show="getCheckedRoles().length > 0 ">

                                    <i class="glyphicon glyphicon-trash"></i> <span translate="com.ef.cbr.label.delete"></span>
                                </button>
                                <button ng-click="tableParams.sorting({})" class="btn btn-link btn-xs">
                                    <span translate="com.ef.cbr.label.clear.sorting"></span>
                                </button>
                                <button ng-controller="addNewRoleController" ng-if="hasPermission('role:create')" class="btn btn-primary btn-xs" ng-click="addNew()">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                    <span translate="com.ef.cbr.label.create"></span></button>
                            </div>
                        </div>

                    </h1>
                </div><!-- /.box-header -->


                <div class="box-body table-responsive">
                    <div loading-container="tableParams.settings().$loading">
                        <table ng-table="tableParams" show-filter="true" class="table table-condensed table-responsive table-bordered table-striped">

                            <tr ng-repeat="role in roles">
                                <td class="checkboxTable" header="'ng-table/headers/checkbox.html'">
                                    <input class="checkboxTable" type="checkbox" ng-model="role.checked"/>
                                </td>
                                <td data-title="'com.ef.cbr.label.name' | translate" filter="{ 'name': 'text' }" sortable="'name'">
                                    <span  exeditable='{"type":"text","model":"role.name","permission":"role:update"}' blur="cancel"
                                           oncancel="tableParams.reload()" buttons="no"
                                           onbeforesave ="editEntityRole($data,role,'name')">
                                        {{role.name || ("com.ef.cbr.label.empty" | translate) }}</span>
                                </td>
                                <td data-title="'com.ef.cbr.label.description' | translate" filter="{ 'description': 'text' }" sortable="'description'">
                                    <span  exeditable='{"type":"text","model":"role.description","permission":"role:update"}'
                                           blur="cancel" buttons="no"
                                           onbeforesave ="editEntityRole($data,role,'description')">
                                        {{role.description ||  ("com.ef.cbr.label.empty" |translate) }}</span>
                                </td>
                                <td data-title="'com.ef.cbr.label.action' | translate">
                                    <div class="btn-group">
                                        <a class="btn btn-xs  btn-primary dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="false"  data-toggle="dropdown">
                                            <i class="glyphicon glyphicon-cog"></i>
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu pull-right" id="myUll">
                                            <li ng-if="hasPermission('role:show')">
                                                <a ng-click="detailsPage(role.id)" ><i
                                                        class="glyphicon glyphicon-info-sign"> <span translate="com.ef.cbr.label.detail"></span></i>
                                                </a>
                                            </li>
                                            <li ng-if="hasPermission('role:delete')">
                                                <a ng-click="deleteRole($index)" ><i class="glyphicon glyphicon-remove">
                                                    <span translate="com.ef.cbr.label.delete"></span></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type='checkbox' class="checkboxTable" ng-show="roles.length > 0" ng-checked="allChecked()" ng-model="allchecked" ng-change="checkAll(allchecked)" >
</script>




