<!--<%--
  Created by IntelliJ IDEA.
  User: Umar
  Date: 12/12/14
  Time: 12:25 PM
--%>-->

<div class="box-body table-responsive">
    <div loading-container="tableParams.settings().$loading">
        <table ng-table="tableParams" class="table table-condensed table-responsive table-bordered table-striped">

            <tr ng-repeat="user in userList">
                <td data-title="'Name'" filter="{ 'name': 'text' }">
                    <div strip="user.checked || 'false'"></div>
                    <a ng-show="hasPermission('user:show')"  ng-click="userDetail(user.id)">{{ user.username }}</a>
                    <span ng-show="!hasPermission('user:show')" >{{ user.username }}</span>
                </td>
                <td data-title="'Email'" filter="{ 'email': 'text' }">
                    <span> {{user.email}}</span>
                </td>
                <td ng-show="hasPermission('role:assignAndRevokeUser')">
                    <input  type="checkbox" class="minimal"
                            ng-disabled="user.disabled"
                            ng-model="user.checked"
                            ng-click="addOrRevokeUser(user.id,user.checked)" />
                </td>

            </tr>

        </table>

    </div>
</div>
